@media (max-width: 768px) {
    /* #lessonPlansPanel{
        display: none;
    } */
 }
@media (min-width: 768px) and (max-width: 1200px) { 
    /* #lessonPlansPanel{
        display: none;
    } */
    /* #lessonPlans{
        min-height: 150;
        height: auto;
    } */
}
@media (min-width: 1024px) and (max-width: 1500px) { 
    /* #lessonPlansPanel{
        display: none;
    } */
    /* #lessonPlans{
        min-height: 150;
        height: auto;
    } */
}
@media (min-width: 1500px) { 
    /* #lessonPlansPanel{
        display: block;
    } */
}